/*****----- Theme -----*****/
@theme "./styles/main_style.rasi"

/*****----- Configuration -----*****/
configuration {
	modi:                       "window,drun,run,combi";
    combi-mode:                 "window,drun,run";
    show-icons:                 true;
    terminal:                   "/home/matheus/.local/bin/kitty.app/bin/kitty";
}
