@import "./base16-default-dark.css";

* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font;
    font-size: 11.5px;
    min-height: 0;
}

window#waybar {
    background: @base00;
    color: @base05;
}

#privacy,
#workspaces,
#pulseaudio,
#network,
#mpris,
#bluetooth,
#battery,
#network,
#custom-scratchpad,
#custom-dunst,
#hardware,
#day,
#tray {
    background: @base01;
    padding: 0px 12px;
    margin: 6px 6px 6px 0px;
    border-radius: 10rem;
}

#pulseaudio {
    color: @base0E;
}

#mpris {
    color: @base0E;
}

#battery {
    color: @base0B;
}

#battery.charging {
    color: @base0B;
}

#memory.critical,
#cpu.critical,
#battery.critical.discharging,
#temperature.critical {
    color: @base08;
}

#memory.warning,
#battery.warning.discharging,
#cpu.warning {
    color: @base0A;
}

#workspaces {
    margin-left: 6px;
}

#workspaces button {
    color: @base03;
}

#workspaces button.active {
    color: @base0B;
}

#temperature {
    margin: 0px 16px 0px 0px;
}

#cpu {
    margin: 0px 16px 0px 0px;
}

#custom-gpu.critical {
    color: @base08;
}

#custom-gpu.warning {
    color: @base0A;
}

#custom-gpu {
    margin: 0px 16px 0px 0px;
}

#memory {
    margin: 0px 0px 0px 0px;
}
