/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #191919FF;
    background-alt: #3C3836FF;
    foreground:     #FBF1C7FF;
    selected:       #689D6AFF;
    active:         #458588FF;
    urgent:         #CC241DFF;
}
